<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajayvenkateshgunturu.onlineexam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineExam">
        <activity
            android:name=".Teachers.ShowTestResultsActivity"
            android:exported="true"
            android:label="Test Results"
            android:parentActivityName=".Teachers.TeachersMainActivity"/>
        <activity
            android:name=".Students.TimeUntilTestActivity"
            android:exported="true"
            android:parentActivityName=".Students.StudentsMainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Students.ConductTestActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Teachers.ShowClassActivity"
            android:exported="true" />
        <activity android:name=".Teachers.CreateNewTestActivity" />
        <activity
            android:name=".Teachers.CreateNewClassroomActivity"
            android:label="Create New ClassRoom"
            android:parentActivityName=".Teachers.TeachersMainActivity" />
        <activity
            android:name=".Students.StudentsMainActivity"
            android:label="Student" />
        <activity
            android:name=".Teachers.TeachersMainActivity"
            android:label="Teacher" />
        <activity
            android:name=".LoginUserActivity"
            android:label="Login User" />
        <activity
            android:name=".RegisterUserActivity"
            android:label="Register User" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>